
fastapi
httpcore
httpx
idna
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
joblib
jupyter_client
jupyter_core
langcodes
markdown-it-py
MarkupSafe
mpmath
multitasking
nest-asyncio
ngrok
numpy
openpyxl
packaging
pandas
pydantic
pydantic-settings
pydantic_core
python-dateutil
python-dotenv
requests
scikit-learn
scipy
setuptools
threadpoolctl
tqdm
urllib3
uv
uvicorn
wasabi
wcwidth
weasel
websockets
